tqdm==4.31.1
tensorflow_gpu==1.13.1
torch==1.0.1.post2
opencv_python==4.0.0.21
scipy==1.2.1
matplotlib==3.0.3
torchvision==0.2.2.post3
numpy==1.16.2
docopt==0.6.2
Pillow==6.0.0
tensorboardX==1.6
tensorflow==1.13.1
